# Packaging
distribute>=0.6.24

# Unit testing
ddt
testtools
mock

# HTTP interface testing
stackinabox
requests-mock

# Test runner
nose
nose-exclude
openstack.nose_plugin

# Metrics and style
coverage
hacking

# Utils
fakeredis>=0.5.1
requests

# uwsgi-module testing
uwsgi
